.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 2rem;
  background-color: #0070f3;
  color: white;
  margin: 1rem;
  padding: 2rem;
  width: 20rem;
}

.card p {
  font-size: 0.8rem;
}

.card button {
  margin-top: 10px;
}
